@use './assets/fonts/' as*;
@use '../src/components/Header/Header' as*; 
@use './styles/partials/_mixins' as*;
@use './styles/partials/_variables' as*;
@use './styles/partials/_globals' as*;

html{
    font-family: 'AvenirNextLTPro';
}

.App{

    @include desktop{

        
        &-container{
            display: flex;
        }
        
        &__left-container{
            width: 75%;
        }
    }
}